<a href="https://colab.research.google.com/github/himanshu683663/Zeta-Halo-/blob/main/Lesson_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Array ** 

1.   List item


Basically  in array we can have all the value of same type be it list or tuple or string .  ex if you say it is int array  , float array all the value of same type .

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

 First of all we need to import module that is called array .  ****For further assistance pl check excel sheet attached with the given drive folder .

In [ ]:
#  First of all we need to import array 
from array import *

In [ ]:
# "i" value is in excel sheet  and for [ ] this is used for in array 
vals = array('i',[5,4,6,9,10])
print(vals)

array('i', [5, 4, 6, 9, 10])

In [ ]:
# Basically we can't have  float number in array we can have all the value of same type .
vals = array('i',[5,4,6.2,9,10])
print(vals)

TypeError: ignored

In [ ]:
# Basically in 'i' character we have signed integer means we can have negative no 
vals = array('i',[5,4,-4,9,10])
print(vals)

array('i', [5, 4, -4, 9, 10])

In [ ]:
# In Capital 'I' we can't have negative values 
vals = array('I',[5,4,-4,9,10])
print(vals)

OverflowError: ignored

## <u> various Methods <u> ##

In [ ]:
# We can usee various method  like this one (buffer_info)
vals = array('i',[5,4,-4,9,10])
print(vals.buffer_info())

(140484788378256, 5)

In [ ]:
#  We have method of type_code in this variable  to yield type of element ex 
print(vals.typecode)

i

In [ ]:
# We have append method to change or add any element .
print(vals.append(8,))
print(vals)

None
array('i', [5, 4, -4, 9, 10, 8])

In [ ]:
# We have remove method to remove any  element 
print(vals.remove(10))
print(vals)

None
array('i', [5, 4, -4, 9, 8])

In [ ]:
# We have reverse method to reverse the variable type 
print(vals.reverse())
print(vals)

None
array('i', [8, 9, -4, 4, 5])

In [ ]:
# we can have first element like how we find index  obviously it will show after reverse method 
print(vals[0])

8

In [ ]:
for i in range(5) :
  print(vals[i])

a
i
e
o
u

In [ ]:
# We can use for loop  for finding out iterable value one by one 
for i in range(len(vals)) :
  print(vals[i])

8
9
-4
4
5

In [ ]:
# We can use unicode character  especially in all alphabet 
vals = array('u',['a','i','e','o','u'])
print(vals)

array('u', 'aieou')

## We need to create new array with same values

In [ ]:
new_arr = array(vals.typecode, (a for a in vals ))
print(new_arr)

array('u', 'aieou')

## We can  verate a new array  and solved calculation like a*a using list comprehension  see the ex :

In [ ]:
new_int =array('i',[5,3,2,1,10])
print(new_int)

array('i', [5, 3, 2, 1, 10])

In [ ]:
# We can incorporate all elements into new variable 
revised_new_int = array(new_int.typecode , (i for i in new_int))
print(revised_new_int)

array('i', [5, 3, 2, 1, 10])

In [ ]:
# We will create new array with using list comprehension for operation purpose like i*i 
revised_new_int  = array(new_int.typecode, (i*i for i in new_int))
revised_new_int

array('i', [25, 9, 4, 1, 100])

In [ ]:
# We can do the same thing in while loop 
i =0 
while  i < len(revised_new_int):
  print(revised_new_int)
  i =i+1

array('i', [25, 9, 4, 1, 100])
array('i', [25, 9, 4, 1, 100])
array('i', [25, 9, 4, 1, 100])
array('i', [25, 9, 4, 1, 100])
array('i', [25, 9, 4, 1, 100])

In [ ]:
len(revised_new_int)

5